<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="b1">
    <ion-card-header>
       <ion-card-title>It Ends With Us</ion-card-title>
       <ion-card-subtitle>Romance</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../books/0001.png" alt="book Logo"></ion-img>
      Classic overhyped romance book. Girl falls in love with this nurosergeon but he's aggressive / abusive and she leaves. Easy read but 
      not my cup of tea. 
    </ion-card-content>
 </ion-card>

 <ion-card class="b2">
  <ion-card-header>
     <ion-card-title>Song of Archillies</ion-card-title>
     <ion-card-subtitle>Romance</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="../books/0002.png" alt="book Logo"></ion-img>
Great read, I took a few courses in Greek mythology so I knew the base context.  
  </ion-card-content>
</ion-card>

</ion-content>
